<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>election</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
  </head>
  <body>
    <h1 class="title is-1">Elections</h1>
    <div class="tile is-ancestor ">
        <div class="tile is-parent is-12 is-vertical">
          <article class="tile is-child is-offset-one-fifth">
            <div class="content ">
              <% for (let id in elections) { %>
            
              <header class="card-header">
                <div class="column is-one-third">
                  Description: <%= elections[id].description %>
                </div>
      
                <div class="column is-one-third">
                  Date: <%= elections[id].date.slice(0,10) %>
                </div>
                  
                <div class="column is-one-third">
                  Type: <%= elections[id].type %> 
                </div>
                
              </header>
              <% } %>
              </div>
              
            
             
      </article>
    </div>
</div>
    <script src="/check.js"></script>
  </body>
</html>