<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>election</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
  </head>
  <body>
    <a href="/" class="title is-1">Find My Elections</h1>
    <% if (elections.length === 0) { %>
      <h1 class="title is-2">No Elections Found</h1>
    <%} else { %>  
      <h1 class="title is-2">Elections</h1>
      <div class="tile is-ancestor ">
          <div class="tile is-parent is-12 is-vertical">
            <article class="tile is-child box">
              
                
                <% for (let id in elections) { %>
              
                   
                    <p class="title is-5">
                      Description:</p>
                    <p class="subtitle is-4"> <%= elections[id].description %></p>
                  

                    <p class="title is-5">
                      Date:</p>
                    <p class="subtitle is-4"><%= elections[id].date.slice(0,10) %></p>

                    <p class="title is-5">Type:</p>
                    <p class="subtitle is-4"> <%= elections[id].type %></p>
                  
                <% } %>
             
            </article>
          </div>
      </div>
    <% } %>   
</body>
</html>